<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.css">
    
    <title>{{#if isMy}} Me {{else}} {{name}} {{/if}}</title>
</head>
<body>
    <main>
        <div class="goToMainPage">
            <a href="/">--Back</a>
        </div>
        <div class="info">
            <p>ID: {{ ID }}</p>
            <h1>NAME: {{ name }}</h1>
        </div>
        {{#if isMy}}
        <div class="add_new_image">
            <form onsubmit="sendFile()" method="POST" enctype="multipart/form-data" action="/profile/upload">
                <div id="dropZone">
                    Для загрузки, browse file.
                    <input type="file" name="file" accept="image/*" id="file-input">
                    <hr>
                    <button type="submit">upload</button>
                </div>
                
            </form>
        </div>
        {{/if}}
        <p id="server_messages"></p>
        <div class="myImages">
            {{#if noImages}}
                <div class="noImages">
                    {{noImages}}
                </div>
            {{else}}

                {{#each images}}
                <div class="image-item">
                    <img src="/assets/uploads/{{this}}" class="little" alt="image" name="{{this}}"/>
                </div>
                {{/each}}

            {{/if}}
        </div>
        <div class="Popup-back hidden">
            
        </div>
        <div class="Popup hidden"></div>
    </main>
   
    {{#if isMy}}

    <script>
        
        const SM = document.querySelector('#server_messages');
        let popup_back = document.querySelector('.Popup-back')
        let popup = document.querySelector('.Popup')
       function sendFile(e){
            e = e || window.event
            e.preventDefault()
            
            const input = document.querySelector('#file-input');
            const file = input.files[0];

            let data = new FormData()
            data.append('file', file)

            console.log(file)
            console.log(SM)


            let file_ex = file.name.split('.')[file.name.split('.').length - 1].toLowerCase();
            if(file.size > 10000000)
            {
            return SM.innerHTML = 'file too large(max size 10MB)'
            }
            if(!(	file_ex === 'png' ||
                file_ex === 'jpg' ||
                file_ex === 'jpeg' ||
                file_ex === 'tiff' ||
                file_ex === 'gif' ||
                file_ex === 'webp' ||
                file_ex === 'svg'
                ))
            {
                return SM.innerHTML = 'file extension is invalid'
            }                        

                        
            fetch('/profile/upload', { 
                method: 'POST',
                body: data 
            }).then(
                response => response.json() // if the response is a JSON object
            ).then(
                success => { 
                        console.log(success)
                        if(success.message !== 'upload is successful'){
                            return SM.innerHTML = success.message;
                        }
                        window.location.reload(true)
                    }
                    
            ).catch(
                error => console.log(error) // Handle the error response object
            );

       }

        
        document.querySelectorAll('.image-item').forEach((elem)=>{
            elem.addEventListener('click',(e)=>{
                console.log(e.target.name)
               
                popup.classList.toggle('hidden')
                popup_back.classList.toggle('hidden')
                popup.innerHTML+= `
                    <img src="/assets/uploads/${e.target.name}" class="big"/>
                    <button class="delete_button" onclick="deleteFile()" data-id="${e.target.name}">delete</button>
                `

                
            })
        })
        popup_back.addEventListener('click',(e)=>{
                    popup_back.classList.toggle('hidden')
                    popup.classList.toggle('hidden')
                    popup.innerHTML=''
        })

        function deleteFile(e){
            e = e || window.event
            popup_back.classList.toggle('hidden')
            popup.classList.toggle('hidden')
            popup.innerHTML=''

            const data = {imageName: e.target.dataset.id}
            fetch('/profile/deleteImage', { 
                method: 'POST',
                headers:{'Content-Type':'application/json'},
                body: JSON.stringify(data) 
            }).then(
                response => response.json() // if the response is a JSON object
            ).then(
                success => { 
                        console.log(success)
                        if(success.message !== 'OK'){
                            return SM.innerHTML = success.message;
                        }
                        window.location.reload(true)
                    }
                    
            ).catch(
                error => console.error('ERROR',error) // Handle the error response object
            );

        }
        

       
       
    </script>

    {{else}}
    <script>
        
        const SM = document.querySelector('#server_messages');
        let popup_back = document.querySelector('.Popup-back')
        let popup = document.querySelector('.Popup')
       function sendFile(e){
            e = e || window.event
            e.preventDefault()
            
            const input = document.querySelector('#file-input');
            const file = input.files[0];

            let data = new FormData()
            data.append('file', file)

            console.log(file)
            console.log(SM)


            let file_ex = file.name.split('.')[file.name.split('.').length - 1].toLowerCase();
            if(file.size > 10000000)
            {
            return SM.innerHTML = 'file too large(max size 10MB)'
            }
            if(!(	file_ex === 'png' ||
                file_ex === 'jpg' ||
                file_ex === 'jpeg' ||
                file_ex === 'tiff' ||
                file_ex === 'gif' ||
                file_ex === 'webp' ||
                file_ex === 'svg'
                ))
            {
                return SM.innerHTML = 'file extension is invalid'
            }                        

                        
            fetch('/profile/upload', { 
                method: 'POST',
                body: data 
            }).then(
                response => response.json() // if the response is a JSON object
            ).then(
                success => { 
                        console.log(success)
                        if(success.message !== 'upload is successful'){
                            return SM.innerHTML = success.message;
                        }
                        window.location.reload(true)
                    }
                    
            ).catch(
                error => console.log(error) // Handle the error response object
            );

       }

        
        document.querySelectorAll('.image-item').forEach((elem)=>{
            elem.addEventListener('click',(e)=>{
                console.log(e.target.name)
               
                popup.classList.toggle('hidden')
                popup_back.classList.toggle('hidden')
                popup.innerHTML+= `
                    <img src="/assets/uploads/${e.target.name}" class="big"/>
                `
            })
        })
        popup_back.addEventListener('click',(e)=>{
                    popup_back.classList.toggle('hidden')
                    popup.classList.toggle('hidden')
                    popup.innerHTML=''
        })   
    </script>
    {{/if}}
    
</body>
</html>